*{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

body{
    background: #fff;
}

.wellcome{
    background-image: linear-gradient(to right top, #ff9966, #ff8b62, #ff7d60, #ff6e60, #ff5e62);
}

.wellcome-components{
    background: #ff8b62;
}

.wellcome-title{
    font-weight: 600;
    color: #fff;
}

.fbutton{
    padding: 10px;
    background:rgba(240, 86, 66, 0.438);
    border: none #ff715d;
    border-radius: 7%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.fbutton:hover{
    padding: 10px;
    background: #ff715d;
    border: none;
    border-radius: 7%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.contain-head{
    margin-top: 15% !important;
    overflow: hidden;
}

.borde{
    box-shadow: border-box;
    text-align: center;
    border: solid 1px rgba(2, 2,2,0.1);
    background: #fff;
}
.img{
    max-width:300px;
}

.img-banner{
    max-width: 600px;
}

.image-container{
    justify-content: center;
    text-align: center;
    margin: auto;
}

.introduction p{
    text-align: justify;
}

.infography{
    max-width: 30%;
    height: auto;
    border-radius: 5%;
}

.infography:hover{
    max-width: 40%;
    transition: 0.3s;
}

.img-etica{
    max-width: 35%; 
}

.img-comunity{
    max-width: 60%; 
}

.img-etica:hover{
    max-width: 55%;
    transition: 0.3s;
}

.text-definition{
    text-align:justify;
}

.img-ciudadania{
    width: 250px;
}

.copy{
    text-align:center;
    font-weight: bold;
    color: #555;
}


@media (max-width:700px){
    .img{
        width:300px;
    }
}

.wave{
    background-image: linear-gradient(to bottom right, #ff9966, #ff8b62, #ff7d60, #ff6e60, #ff5e62);
}

/*-------------------- contacto ------------------*/

.containContact{
    text-align: center;
  }
  
  .icons{
    letter-spacing: 5px;
    font-size: 40px;
  }
  
  .instagram:hover{
    color:#ff8b62 ;
    transition: 0.3s;
  }
  
  .linkedin:hover{
    color:#ff8b62 ;
    transition: 0.3s;
  }
  
  .github:hover{
    color:#ff8b62 ;
    transition: 0.3s;
  }
  
  .mail:hover{
    color:#ff8b62 ;
    transition: 0.3s;
  }
  
  .redes{
    text-decoration: none;
    color: #ff5e62;
  }
  
  .icons a:hover{
  color: #ff8b62;
  }
  
  .contacto{
    font-weight: 600;
  }
