*{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

body{
    background: #fff;
}

.wellcome{
    background: rgba(240, 86, 66, 0.342);
}

.wellcome-title{
    font-weight: 600;
    color: #555;
}

.fbutton{
    padding: 10px;
    background:rgba(240, 86, 66, 0.438);
    border: none #ff715d;
    border-radius: 7%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.fbutton:hover{
    padding: 10px;
    background: #ff715d;
    border: none;
    border-radius: 7%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.contain-head{
    margin-top: 15% !important;
}

.borde{
    box-shadow: border-box;
    text-align: center;
    border: solid 1px rgba(2, 2,2,0.1);
    background: #fff;
}
.img{
    max-width:300px;
}

.img-banner{
    max-width: 600px;
}

.image-container{
    justify-content: center;
    text-align: center;
    margin: auto;
}

.introduction p{
    text-align: justify;
}

.infography{
    max-width: 30%;
    height: auto;
    border-radius: 5%;
}

.infography:hover{
    max-width: 40%;
    transition: 0.3s;
}

.img-etica{
    max-width: 35%; 
}

.img-etica:hover{
    max-width: 55%;
    transition: 0.3s;
}

.text-definition{
    text-align:justify;
}

.img-ciudadania{
    width: 250px;
}

.copy{
    text-align:center;
    font-weight: bold;
    color: #555;
}


@media (max-width:700px){
    .img{
        width:300px;
    }
}
